<footer id="footer" class="drawer:bottom" popover>
  <div class="drawer-content flex:cluster gap:md justify:center align:center">
    <span>CUBE CSS Design System</span>
    <span class="pill">v0.1</span>
    <button class="icon-btn gho sm" popovertarget="footer" aria-label="Close footer">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
    </button>
  </div>
</footer>