<head id="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="module">
  try {
    await import('./js/datastar-pro.js');
    console.log('Loaded local datastar-pro.js');
  } catch {
    await import('https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.7/bundles/datastar.js');
    console.log('Loaded CDN datastar');
  }
</script>

<style>@layer reset, props, theme, composition, utility, block, exception;</style>
<link rel="stylesheet" href="css/0_reset.css">
<link rel="stylesheet" href="css/1_props.css">
<link rel="stylesheet" data-attr:href="$prst_theme" href="./css/2_theme-default.css">
<link rel="stylesheet" href="css/3_composition.css">
<link rel="stylesheet" href="css/4_utility.css">
<link rel="stylesheet" href="css/5_block.css">
<link rel="stylesheet" href="css/6_exception.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-tomorrow.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-markup.min.js"></script>
</head>
